**/*.egg-info 
**/*.sh 
**/*.pyc
**/*.zip
**/__pycache__*
build/ 
build/
dist/
bin/
floop-cli/
floop_cli.egg-info/
.mypy_cache/
**/.*.swp
sync_test/
docs/build/
.wercker/
.pytest_cache/
**/*.backup*
.coverage
.coverage*
docker.key
create_test/
test_test/
floop.log
floop.json
floop.json*
